<div
      data-same-height-display-contents
      style="--jc:start"
      class="g2RYZNQOrN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gm8UyOVaYd"}' data-id="gm8UyOVaYd" id="gm8UyOVaYd" data-same-height-subgrid-container class="gm8UyOVaYd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] gp_sticky-elm" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#242424;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-xl);--pl:var(--g-s-m);--pb:var(--g-s-xl);--pr:var(--g-s-m);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOB9jQQIVr gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gknBnPqgpO"}' data-id="gknBnPqgpO" id="gknBnPqgpO" data-same-height-subgrid-container class="gknBnPqgpO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-xl);--pl:var(--g-s-m);--pb:var(--g-s-xl);--pr:var(--g-s-m);--cg:auto;--gtc:minmax(0, 12fr);--w:200px;--w-tablet:200px;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-IQXsethV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gX3ohjc71g"
        class="gX3ohjc71g"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757283954519"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--c:#212121;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggX3ohjc71g_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gZzfra-k9K ">
      
    
    <div class="gp-flex" >
    <div
      data-id="gZzfra-k9K"
       style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-s)"
        >
        
    <li
      data-index="0" data-id="g467dgJtJE"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gZzfra-k9K"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="g4Aa9FuJ2c gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g-PodCpmCM" class="gp-leading-[0] g-PodCpmCM" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g-PodCpmCM" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-PodCpmCM " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#52C41A">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gLlD1I1KMZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8DJuAJH0L"
        class="g8DJuAJH0L"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757283954520"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8DJuAJH0L_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="gvOSx--Gvu"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gZzfra-k9K"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="gjEFcilPHU gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gMI03ZoHmw" class="gp-leading-[0] gMI03ZoHmw" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gMI03ZoHmw" class="icon-wrapper gp-inline-flex gp-overflow-hidden gMI03ZoHmw " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#52C41A">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gKuiIeVbtf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxLwjMz3zY"
        class="gxLwjMz3zY"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757283954521"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxLwjMz3zY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="2" data-id="gVFbsmiy08"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gZzfra-k9K"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="gPzTT2cxSX gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g-uUW1p5en" class="gp-leading-[0] g-uUW1p5en" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g-uUW1p5en" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-uUW1p5en " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#52C41A">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gPSG6MllhP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvmpO3PB8T"
        class="gvmpO3PB8T"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757283954521"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvmpO3PB8T_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="3" data-id="gO8wVE6zoW"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gZzfra-k9K"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="gk9iRkNiBo gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gEs7fMRU3s" class="gp-leading-[0] gEs7fMRU3s" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gEs7fMRU3s" class="icon-wrapper gp-inline-flex gp-overflow-hidden gEs7fMRU3s " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#52C41A">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gAyiVxnOG8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu1irLAhnm"
        class="gu1irLAhnm"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757283954522"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu1irLAhnm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="gXPKnqH49Q"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:center"
      class="gp-group/image gp-relative force-publish-1757283954523 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXPKnqH49Q"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/92ed0e93-b79f-40dd-a238-8deb2d7feb0f/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTM5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0idXJsKCNnLTYxMi0zOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/92ed0e93-b79f-40dd-a238-8deb2d7feb0f/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTM5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0idXJsKCNnLTYxMi0zOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/92ed0e93-b79f-40dd-a238-8deb2d7feb0f/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTM5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjM5OCIgZmlsbD0idXJsKCNnLTYxMi0zOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/92ed0e93-b79f-40dd-a238-8deb2d7feb0f/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--ta:left" >
        <style>[data-id="gVQJJ4b712"].gp-button-base::before, [data-id="gVQJJ4b712-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gVQJJ4b712"]:hover::before, [data-id="gVQJJ4b712-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gVQJJ4b712" dataId="gVQJJ4b712" data-state="idle" aria-label="CHECK AVAILABILITY"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--shadow:0.0698096257491335px 3.999390780625565px 8px 0px rgba(0, 0, 0, 0.25);--bgi:;--hvr-bgi:;--hvr-bg:#52C41A;--bg:#44A714;--size:19px;--lh:130%;--fs:normal;--weight:600;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:16px"
          class="gVQJJ4b712 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-bg-3 undefined"
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--size:19px;--lh:130%;--fs:normal;--weight:600;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:16px;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> 	<path fill="#FBC435" strokeLinecap="round" strokeLinejoin="round" fill="#FBC435" d="M512 199.652c0 23.625-20.65 43.826-44.8 43.826h-99.851c16.34 17.048 18.346 49.766-6.299 70.944 14.288 22.829 2.147 53.017-16.45 62.315C353.574 425.878 322.654 448 272 448c-2.746 0-13.276-.203-16-.195-61.971.168-76.894-31.065-123.731-38.315C120.596 407.683 112 397.599 112 385.786V214.261l.002-.001c.011-18.366 10.607-35.889 28.464-43.845 28.886-12.994 95.413-49.038 107.534-77.323 7.797-18.194 21.384-29.084 40-29.092 34.222-.014 57.752 35.098 44.119 66.908-3.583 8.359-8.312 16.67-14.153 24.918H467.2c23.45 0 44.8 20.543 44.8 43.826zM96 200v192c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V200c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24zM68 368c0-11.046-8.954-20-20-20s-20 8.954-20 20 8.954 20 20 20 20-8.954 20-20z" /> </svg>
    </span>
  
          
    <span
      data-gp-text
      style="--size:19px;--lh:130%;--fs:normal;--weight:600;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:16px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggVQJJ4b712_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL6hDqcUJS"
        class="gL6hDqcUJS"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757283954524"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL6hDqcUJS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left;--bgc:rgba(255, 255, 255, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g7F16-8Ajf gp-cursor-pointer gp-custom-code">
      <div>
    
    </div>
    </div>
  
      <style id="custom-css-g7F16-8Ajf">
        .gps [data-slot=children] {
    display: none;
}
      </style>
    
      <script id="custom-js-g7F16-8Ajf">
        try {
          function stickySidebar(event) {
    var sticky_elm = document.querySelector('.gp_sticky-elm'); // sticky sidebar element
    var elm_top = document.querySelector('.gp_top-elm'); // target top element
    var elm_bottom = document.querySelector('.gp_bottom-elm'); // target bottom element
    if(event.type == "resize") {
        sticky_elm.style.position = "static"; // revert position
        sticky_elm.style.width = "initial"; // revert width
    }
    if (window.innerWidth > 1023) {
        let _w = parseInt(window.getComputedStyle(sticky_elm).width); // get width
        
        let offset_elm_top = elm_top.offsetTop + 80
        let offset_elm_bottom = elm_bottom.offsetTop

        var stickyHeight = sticky_elm.offsetHeight;            
        var windowTop = window.scrollY + 10;
        var limit = offset_elm_bottom - stickyHeight - 70;

        if (windowTop >= offset_elm_top) {
            sticky_elm.style.width = _w+"px"; // set width
            sticky_elm.style.position = "fixed"; // set position
            sticky_elm.style.top = "10px";
            sticky_elm.style.zIndex  = 99;
        }else {
            sticky_elm.style.width = "initial"; // revert width
            sticky_elm.style.position = "static"; // revert position
            sticky_elm.style.top = "0";
        }
        // detect when scroll to bottom page
        if (limit < windowTop) {
            var diff = limit - windowTop;
            console.log(diff);
            sticky_elm.style.top = diff+"px";
        }

    }else {
        sticky_elm.style.position = "static"; // revert position
    }
}

window.addEventListener('scroll', (e) => stickySidebar(e));
window.addEventListener('resize', (e) => stickySidebar(e));
        } catch(err){}
      </script>
    
    </div>